<?xml version="1.0"?>
<launch>

	<!-- start trajectory republisher -->
	<!--<node name="arm_trajectory_republisher" pkg="youbot_description" type="arm_trajectory_republisher" output="screen"/>-->

	<!-- start base command republisher -->
	<!--<node name="base_command_republisher" pkg="youbot_description" type="base_command_republisher" output="screen"/>-->

	<!-- start gazebo -->
	<param name="/use_sim_time" value="true" />
	<node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen">
		<env name="GAZEBO_RESOURCE_PATH" value="$(find youbot_description):$(find gazebo_worlds):$(find gazebo)/gazebo/share/gazebo" />

     <remap from="base_controller/command" to="cmd_vel"/> 
	 <remap from="scan_front" to="base_scan"/>
     <remap from="/base_odometry/odom" to="/odom" /> 
		
	 <remap from="/camera/image_raw" to="image_color" />
	 <remap from="/camera/depth/points" to="point_cloud2" /> 
	</node>
	
	<node name="create_colored_point_cloud" pkg="nodelet" type="nodelet" args="standalone cob_gazebo/CreateColoredPointCloud" respawn="false" output="screen">
		<!-- <remap from="image_color" to="cam3d/rgb/image_raw"/>
		<remap from="point_cloud2" to="cam3d/depth/points"/> -->
		<remap from="colored_point_cloud2" to="camera/rgb/points"/>
	</node>
	
	<!-- send youbot urdf to param server -->
	<!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot.urdf.xacro'"/> -->
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find mm_arena)/common/robots/youbot.urdf.xacro'"/>

	<!--
	<param name="arena_description" command="$(find xacro)/xacro.py $(find mm_arena)/common/arena/C025_arena.urdf" />
	-->

	<param name="redcube_description" command="$(find xacro)/xacro.py $(find mm_arena)/common/objects/redcube.urdf" />
	<param name="greencube_description" command="$(find xacro)/xacro.py $(find mm_arena)/common/objects/greencube.urdf" />
	<param name="bluecube_description" command="$(find xacro)/xacro.py $(find mm_arena)/common/objects/bluecube.urdf" />

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="youbot_gazebo_model" pkg="gazebo" type="spawn_model" 
	      args="-urdf -param robot_description -model youBot -x 0.0 -y 0.0 -z 0.1" respawn="false" output="screen" />
<!--
        <node name="arena_gazebo_model" pkg="gazebo" type="spawn_model" 
	  args="-urdf -param arena_description -model arena -x 0.0 -y 0.0 -z 0.2" respawn="false" output="screen" />
-->	
	<node name="redcube_gazebo_model" pkg="gazebo" type="spawn_model" 
	      args="-urdf -param redcube_description -model redcube -x 1.0 -y 0.5 -z 0.1" respawn="false" output="screen" /> 

	<node name="greencube_gazebo_model" pkg="gazebo" type="spawn_model" 
	      args="-urdf -param greencube_description -model greencube -x 1.0 -y 0.0 -z 0.1" respawn="false" output="screen" />

	<node name="bluecube_gazebo_model" pkg="gazebo" type="spawn_model" 
	      args="-urdf -param bluecube_description -model bluecube -x 1.0 -y -0.5 -z 0.1" respawn="false" output="screen" /> 
	
	<include file="$(find youbot_description)/launch/control/youbot_base_control.launch" />
	<include file="$(find youbot_description)/launch/control/youbot_arm_control.launch" />
	<include file="$(find youbot_description)/launch/control/youbot_gripper_control.launch" />

</launch>
